@font-face {
  font-family: 'Quicksand';
  src: url(fonts/quicksand_book.otf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/quicksand_book_oblique.otf);
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/quicksand_bold.otf);
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/quicksand_bold_oblique.otf);
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/quicksand_light.otf);
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/quicksand_light_oblique.otf);
  font-style: italic;
  font-weight: 300; }

body, html {
  background: white;
  font-family: 'Quicksand'; }

html, .viewport {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0; }

#main-container {
  color: white;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

header, footer {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin-left: 48px;
  margin-right: 48px;
  align-items: center;
  color: #818181; }

header {
  height: 80px;
  position: relative; }
  header button {
    position: absolute;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  header .notification-group {
    position: absolute;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  header h1 {
    font-weight: bold;
    font-size: xx-large;
    flex: 1 1 0;
    text-align: center; }

footer {
  height: 60px;
  position: relative; }
  footer .disclaimer {
    flex: 1 1 0;
    text-align: center; }
  footer .logo {
    z-index: 10;
    position: absolute;
    width: auto;
    height: 64px;
    right: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 24px;
    background: white; }
    footer .logo img {
      max-width: 100%;
      max-height: 100%; }
  footer #version-info {
    position: absolute;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-small;
    color: #b4b4b4; }

.hidden {
  visibility: hidden; }

.undisplayed {
  display: none !important; }

.transparent {
  opacity: 0; }

.faded {
  opacity: 0.5; }

.opaque {
  opacity: 1; }

.js-trigger {
  cursor: pointer;
  color: blue;
  text-decoration: underline; }
  .js-trigger:hover, .js-trigger:active {
    color: #000099; }

button {
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Quicksand';
  padding: 6px 18px;
  border: none;
  background: #0073be;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  button:hover, button:focus {
    cursor: pointer;
    background: #00548b;
    outline: none;
    border: none; }
  button:active {
    background: #0092f1; }

#home {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background: white;
  align-items: stretch;
  justify-items: stretch;
  padding: 0 5px; }
  #home .section {
    flex: 1 1 0;
    margin: 0 5px;
    padding: 0 10px; }
    #home .section:nth-child(1) {
      background-color: #0B1F52; }
    #home .section:nth-child(2) {
      background-color: rgba(11, 31, 82, 0.666); }
    #home .section:nth-child(3) {
      background-color: rgba(11, 31, 82, 0.333); }
  #home .section-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: center;
    text-align: center;
    padding: 0 15px; }
  #home .section-padding-row {
    flex: 0 0 auto;
    height: 24px; }
  #home .section-titles-row {
    flex: 0 0 auto; }
  #home .section-apps-row {
    flex: 1 1 0; }
  #home .section-title {
    text-transform: uppercase; }
  #home .app-container {
    padding: 1px 20px;
    display: flex;
    flex-direction: column; }
  #home .app-title h3 {
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px; }
  #home .app {
    flex: 1 1 0;
    display: flex;
    flex-direction: column; }
    #home .app:after {
      font-size: smaller;
      margin: 5px 0; }
    #home .app.app-guide:after {
      content: "Guide"; }
    #home .app.app-exercise:after {
      content: "Exercice"; }
    #home .app .app-icon {
      flex: 1 1 0;
      margin: auto;
      position: relative;
      min-height: 96px;
      transition: opacity 0.2s ease-in-out; }
      #home .app .app-icon:hover {
        opacity: 0.5;
        cursor: pointer; }
      #home .app .app-icon img {
        width: auto;
        max-height: 100%;
        position: absolute;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
      #home .app .app-icon:after {
        font-size: smaller;
        position: absolute;
        bottom: -20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }

.app-main {
  background-color: #0B1F52;
  flex: 1 1 0;
  display: flex;
  flex-direction: row; }

.step-icon, .step-image, .step-text {
  transition: opacity 0.3s ease-in-out; }

.app-illustrations {
  flex: 1;
  margin: 0;
  position: relative; }
  .app-illustrations img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.app-page {
  flex: 1 1 0;
  display: flex;
  flex-direction: row; }

.app-texts {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em 1em 1em 3em;
  font-size: x-large;
  font-size: 1.8vw; }
  .app-texts .step {
    position: relative; }
    .app-texts .step .step-icon {
      left: -6vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 5vw;
      height: auto; }
  .app-texts p, .app-texts h1, .app-texts h2, .app-texts h3, .app-texts h4, .app-texts h5, .app-texts ul, .app-texts div {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .app-texts h2 {
    text-align: center;
    font-size: xx-large;
    font-size: 2.2vw; }
  .app-texts ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .app-texts ul:before {
      content: attr(aria-label);
      margin-left: -1em; }
  .app-texts .app-instructions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .app-texts .app-advices {
    flex: 1; }
    .app-texts .app-advices h1, .app-texts .app-advices h2, .app-texts .app-advices h3, .app-texts .app-advices h4, .app-texts .app-advices h5 {
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .app-texts .app-advices p, .app-texts .app-advices ul, .app-texts .app-advices div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }

#app-exercise-stress {
  flex: 1 1 0;
  position: relative; }
  #app-exercise-stress .app-video {
    position: absolute;
    bottom: 0;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 2s ease-in-out; }

#app-exercise-stress-2 {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  position: relative; }
  #app-exercise-stress-2 #splashscreen {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #168ead;
    transition: opacity 2s ease-in-out; }
    #app-exercise-stress-2 #splashscreen h1 {
      flex: 0;
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      margin-right: 1em;
      text-align: center;
      font-size: 7vw;
      font-family: "Segoe UI"; }
  #app-exercise-stress-2 .canvas-container {
    flex: 1 1 0;
    position: relative; }
    #app-exercise-stress-2 .canvas-container canvas {
      position: absolute;
      width: 100%;
      height: 100%; }
